h1 {text-align: center;}
h3 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
form{
text-align: center;
}
label {
width:680px;
clear:left;
text-align:right;
padding-right:10px;
}
input, label {
float:left;
}